body {
  margin: 0;
}
.App {
  text-align: center;
}

header {
  background-color: gray;
  height: 20vh;
}

nav {
  background-color: white;
  line-height: 2em;
  color: black;
}

.nav-link {
  text-decoration: none;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px 10px;
}
.post-author {
  font-size: 0.8em;
  margin: 0;
}
.post-title {
  font-size: 1.5em;
  text-decoration: underline;
  margin: 0;
}
.post-body {
  font-size: 1em;
  color: #555;
}
